In [94]:
!pip install polars -U

Requirement already satisfied: polars in /usr/local/lib/python3.10/dist-packages (0.20.3)

In [95]:
import polars as pl
import warnings

warnings.filterwarnings("ignore")


## Ładowanie danych do DataFrame

In [96]:
url = "https://bit.ly/3io3vC6"
df = pl.read_csv(url, ignore_errors=True)

## Pokaż początkowe rekordy w DataFrame

In [97]:
df.head()

shape: (5, 6)
┌─────────────┬──────┬──────────┬───────────┬─────────┬────────────┐
│ country     ┆ year ┆ pop      ┆ continent ┆ lifeExp ┆ gdpPercap  │
│ ---         ┆ ---  ┆ ---      ┆ ---       ┆ ---     ┆ ---        │
│ str         ┆ i64  ┆ i64      ┆ str       ┆ f64     ┆ f64        │
╞═════════════╪══════╪══════════╪═══════════╪═════════╪════════════╡
│ Afghanistan ┆ 1952 ┆ 8425333  ┆ Asia      ┆ 28.801  ┆ 779.445314 │
│ Afghanistan ┆ 1957 ┆ 9240934  ┆ Asia      ┆ 30.332  ┆ 820.85303  │
│ Afghanistan ┆ 1962 ┆ 10267083 ┆ Asia      ┆ 31.997  ┆ 853.10071  │
│ Afghanistan ┆ 1967 ┆ 11537966 ┆ Asia      ┆ 34.02   ┆ 836.197138 │
│ Afghanistan ┆ 1972 ┆ 13079460 ┆ Asia      ┆ 36.088  ┆ 739.981106 │
└─────────────┴──────┴──────────┴───────────┴─────────┴────────────┘

## Pokaż końcowe rekordy w DataFrame

In [98]:
df.tail(10)

shape: (10, 6)
┌──────────┬──────┬──────────┬───────────┬─────────┬────────────┐
│ country  ┆ year ┆ pop      ┆ continent ┆ lifeExp ┆ gdpPercap  │
│ ---      ┆ ---  ┆ ---      ┆ ---       ┆ ---     ┆ ---        │
│ str      ┆ i64  ┆ i64      ┆ str       ┆ f64     ┆ f64        │
╞══════════╪══════╪══════════╪═══════════╪═════════╪════════════╡
│ Zimbabwe ┆ 1962 ┆ 4277736  ┆ Africa    ┆ 52.358  ┆ 527.272182 │
│ Zimbabwe ┆ 1967 ┆ 4995432  ┆ Africa    ┆ 53.995  ┆ 569.795071 │
│ Zimbabwe ┆ 1972 ┆ 5861135  ┆ Africa    ┆ 55.635  ┆ 799.362176 │
│ Zimbabwe ┆ 1977 ┆ 6642107  ┆ Africa    ┆ 57.674  ┆ 685.587682 │
│ …        ┆ …    ┆ …        ┆ …         ┆ …       ┆ …          │
│ Zimbabwe ┆ 1992 ┆ 10704340 ┆ Africa    ┆ 60.377  ┆ 693.420786 │
│ Zimbabwe ┆ 1997 ┆ 11404948 ┆ Africa    ┆ 46.809  ┆ 792.44996  │
│ Zimbabwe ┆ 2002 ┆ 11926563 ┆ Africa    ┆ 39.989  ┆ 672.038623 │
│ Zimbabwe ┆ 2007 ┆ 12311143 ┆ Africa    ┆ 43.487  ┆ 469.709298 │
└──────────┴──────┴──────────┴───────────┴─────────┴────────────┘


## Pobranie danych z DataFrame

In [99]:
# pojedyczna kolumna
df["country"]
# df.select("country")
# df.get_column("country")

shape: (1_704,)
Series: 'country' [str]
[
	"Afghanistan"
	"Afghanistan"
	"Afghanistan"
	"Afghanistan"
	"Afghanistan"
	"Afghanistan"
	"Afghanistan"
	"Afghanistan"
	"Afghanistan"
	"Afghanistan"
	"Afghanistan"
	"Afghanistan"
	…
	"Zambia"
	"Zimbabwe"
	"Zimbabwe"
	"Zimbabwe"
	"Zimbabwe"
	"Zimbabwe"
	"Zimbabwe"
	"Zimbabwe"
	"Zimbabwe"
	"Zimbabwe"
	"Zimbabwe"
	"Zimbabwe"
	"Zimbabwe"
]

In [100]:
# wiele kolumn
df[ ["country","continent","gdpPercap"] ]

shape: (1_704, 3)
┌─────────────┬───────────┬────────────┐
│ country     ┆ continent ┆ gdpPercap  │
│ ---         ┆ ---       ┆ ---        │
│ str         ┆ str       ┆ f64        │
╞═════════════╪═══════════╪════════════╡
│ Afghanistan ┆ Asia      ┆ 779.445314 │
│ Afghanistan ┆ Asia      ┆ 820.85303  │
│ Afghanistan ┆ Asia      ┆ 853.10071  │
│ Afghanistan ┆ Asia      ┆ 836.197138 │
│ …           ┆ …         ┆ …          │
│ Zimbabwe    ┆ Africa    ┆ 693.420786 │
│ Zimbabwe    ┆ Africa    ┆ 792.44996  │
│ Zimbabwe    ┆ Africa    ┆ 672.038623 │
│ Zimbabwe    ┆ Africa    ┆ 469.709298 │
└─────────────┴───────────┴────────────┘

In [101]:
# określenie pobieranych wierszy i kolumn
# pobranie wierszy od  1 do 10 włącznie i kolumn "country","continent","gdpPercap"
df.slice(0, 10).select(["country","continent","gdpPercap"] )

shape: (10, 3)
┌─────────────┬───────────┬────────────┐
│ country     ┆ continent ┆ gdpPercap  │
│ ---         ┆ ---       ┆ ---        │
│ str         ┆ str       ┆ f64        │
╞═════════════╪═══════════╪════════════╡
│ Afghanistan ┆ Asia      ┆ 779.445314 │
│ Afghanistan ┆ Asia      ┆ 820.85303  │
│ Afghanistan ┆ Asia      ┆ 853.10071  │
│ Afghanistan ┆ Asia      ┆ 836.197138 │
│ …           ┆ …         ┆ …          │
│ Afghanistan ┆ Asia      ┆ 978.011439 │
│ Afghanistan ┆ Asia      ┆ 852.395945 │
│ Afghanistan ┆ Asia      ┆ 649.341395 │
│ Afghanistan ┆ Asia      ┆ 635.341351 │
└─────────────┴───────────┴────────────┘

In [102]:
# Przykładowe indeksy kolumn, które chcesz wybrać
columns_ix = [0, 2, 4]  # na przykład pierwsza i trzecia kolumna

# Pobranie nazw kolumn na podstawie ich indeksów
cols = [df.columns[i] for i in columns_ix]
df.slice(len(df)-10, None).select(cols)

shape: (10, 3)
┌──────────┬──────────┬─────────┐
│ country  ┆ pop      ┆ lifeExp │
│ ---      ┆ ---      ┆ ---     │
│ str      ┆ i64      ┆ f64     │
╞══════════╪══════════╪═════════╡
│ Zimbabwe ┆ 4277736  ┆ 52.358  │
│ Zimbabwe ┆ 4995432  ┆ 53.995  │
│ Zimbabwe ┆ 5861135  ┆ 55.635  │
│ Zimbabwe ┆ 6642107  ┆ 57.674  │
│ …        ┆ …        ┆ …       │
│ Zimbabwe ┆ 10704340 ┆ 60.377  │
│ Zimbabwe ┆ 11404948 ┆ 46.809  │
│ Zimbabwe ┆ 11926563 ┆ 39.989  │
│ Zimbabwe ┆ 12311143 ┆ 43.487  │
└──────────┴──────────┴─────────┘

In [103]:
# pobierz co 3-ci wiersz i co 2-gą kolumną
df_every_third_row = df[::3]
column_indices = range(0, len(df.columns), 2)
column_names = [df.columns[i] for i in column_indices]
df_every_third_row.select(column_names)

shape: (568, 3)
┌─────────────┬──────────┬─────────┐
│ country     ┆ pop      ┆ lifeExp │
│ ---         ┆ ---      ┆ ---     │
│ str         ┆ i64      ┆ f64     │
╞═════════════╪══════════╪═════════╡
│ Afghanistan ┆ 8425333  ┆ 28.801  │
│ Afghanistan ┆ 11537966 ┆ 34.02   │
│ Afghanistan ┆ 12881816 ┆ 39.854  │
│ Afghanistan ┆ 22227415 ┆ 41.763  │
│ …           ┆ …        ┆ …       │
│ Zimbabwe    ┆ 3080907  ┆ 48.451  │
│ Zimbabwe    ┆ 4995432  ┆ 53.995  │
│ Zimbabwe    ┆ 7636524  ┆ 60.363  │
│ Zimbabwe    ┆ 11404948 ┆ 46.809  │
└─────────────┴──────────┴─────────┘

## Pobranie informacji o kolumnach

In [104]:
df.columns

['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap']

## Pobranie informacji o typach danych kolumn

In [105]:
df.dtypes

[String, Int64, Int64, String, Float64, Float64]

## Zmiana typu kolumny w DataFrame

In [106]:
df = df.with_columns([df['year'].cast(pl.Int16)])
df = df.with_columns([df['lifeExp'].cast(pl.Float32)])
df.head()

shape: (5, 6)
┌─────────────┬──────┬──────────┬───────────┬───────────┬────────────┐
│ country     ┆ year ┆ pop      ┆ continent ┆ lifeExp   ┆ gdpPercap  │
│ ---         ┆ ---  ┆ ---      ┆ ---       ┆ ---       ┆ ---        │
│ str         ┆ i16  ┆ i64      ┆ str       ┆ f32       ┆ f64        │
╞═════════════╪══════╪══════════╪═══════════╪═══════════╪════════════╡
│ Afghanistan ┆ 1952 ┆ 8425333  ┆ Asia      ┆ 28.801001 ┆ 779.445314 │
│ Afghanistan ┆ 1957 ┆ 9240934  ┆ Asia      ┆ 30.332001 ┆ 820.85303  │
│ Afghanistan ┆ 1962 ┆ 10267083 ┆ Asia      ┆ 31.997    ┆ 853.10071  │
│ Afghanistan ┆ 1967 ┆ 11537966 ┆ Asia      ┆ 34.02     ┆ 836.197138 │
│ Afghanistan ┆ 1972 ┆ 13079460 ┆ Asia      ┆ 36.088001 ┆ 739.981106 │
└─────────────┴──────┴──────────┴───────────┴───────────┴────────────┘

##  Metryki statystyczne danych w DataFrame

In [107]:
df.describe()

shape: (9, 7)
┌────────────┬─────────────┬──────────┬─────────────┬───────────┬───────────┬─────────────┐
│ describe   ┆ country     ┆ year     ┆ pop         ┆ continent ┆ lifeExp   ┆ gdpPercap   │
│ ---        ┆ ---         ┆ ---      ┆ ---         ┆ ---       ┆ ---       ┆ ---         │
│ str        ┆ str         ┆ f64      ┆ f64         ┆ str       ┆ f64       ┆ f64         │
╞════════════╪═════════════╪══════════╪═════════════╪═══════════╪═══════════╪═════════════╡
│ count      ┆ 1704        ┆ 1704.0   ┆ 1693.0      ┆ 1704      ┆ 1704.0    ┆ 1704.0      │
│ null_count ┆ 0           ┆ 0.0      ┆ 11.0        ┆ 0         ┆ 0.0       ┆ 0.0         │
│ mean       ┆ null        ┆ 1979.5   ┆ 2.5762e7    ┆ null      ┆ 59.474438 ┆ 7215.327081 │
│ std        ┆ null        ┆ 17.26533 ┆ 9.4025e7    ┆ null      ┆ 12.917108 ┆ 9857.454543 │
│ min        ┆ Afghanistan ┆ 1952.0   ┆ 60011.0     ┆ Africa    ┆ 23.599001 ┆ 241.165876  │
│ 25%        ┆ null        ┆ 1967.0   ┆ 2.780132e6  ┆ null      ┆ 48.210999 ┆ 1202.201361 │
│ 50%        ┆ null        ┆ 1982.0   ┆ 6.990574e6  ┆ null      ┆ 60.764999 ┆ 3533.00391  │
│ 75%        ┆ null        ┆ 1992.0   ┆ 1.8698655e7 ┆ null      ┆ 70.845001 ┆ 9325.068238 │
│ max        ┆ Zimbabwe    ┆ 2007.0   ┆ 1.3187e9    ┆ Oceania   ┆ 82.602997 ┆ 113523.1329 │
└────────────┴─────────────┴──────────┴─────────────┴───────────┴───────────┴─────────────┘

## Ilość miejsca zajmowanego w RAM przez DataFrame

In [108]:
import io
# Zapisz DataFrame do bufora w formacie binarnym
buffer = io.BytesIO()
df.write_ipc(buffer)

# Oblicz rozmiar bufora (w bajtach)
buffer.getbuffer().nbytes

91486

## Sortowanie danych wg kolumn(y)

In [109]:
# Sortowanie DataFrame wg kolumny 'nazwa_kolumny' w porządku rosnącym
# Jeśli chcesz sortowanie malejące, użyj argumentu descending
df.sort("year", descending=True)

shape: (1_704, 6)
┌────────────────────┬──────┬──────────┬───────────┬───────────┬─────────────┐
│ country            ┆ year ┆ pop      ┆ continent ┆ lifeExp   ┆ gdpPercap   │
│ ---                ┆ ---  ┆ ---      ┆ ---       ┆ ---       ┆ ---         │
│ str                ┆ i16  ┆ i64      ┆ str       ┆ f32       ┆ f64         │
╞════════════════════╪══════╪══════════╪═══════════╪═══════════╪═════════════╡
│ Afghanistan        ┆ 2007 ┆ 31889923 ┆ Asia      ┆ 43.827999 ┆ 974.580338  │
│ Albania            ┆ 2007 ┆ 3600523  ┆ Europe    ┆ 76.422997 ┆ 5937.029526 │
│ Algeria            ┆ 2007 ┆ 33333216 ┆ Africa    ┆ 72.301003 ┆ 6223.367465 │
│ Angola             ┆ 2007 ┆ 12420476 ┆ Africa    ┆ 42.730999 ┆ 4797.231267 │
│ …                  ┆ …    ┆ …        ┆ …         ┆ …         ┆ …           │
│ West Bank and Gaza ┆ 1952 ┆ 1030585  ┆ Asia      ┆ 43.16     ┆ 1515.592329 │
│ Yemen Rep.         ┆ 1952 ┆ 4963829  ┆ Asia      ┆ 32.548    ┆ 781.717576  │
│ Zambia             ┆ 1952 ┆ 2672000  ┆ Africa    ┆ 42.037998 ┆ 1147.388831 │
│ Zimbabwe           ┆ 1952 ┆ 3080907  ┆ Africa    ┆ 48.451    ┆ 406.884115  │
└────────────────────┴──────┴──────────┴───────────┴───────────┴─────────────┘

In [110]:
df.sort(['country','pop'], descending=[True,False])

shape: (1_704, 6)
┌─────────────┬──────┬──────────┬───────────┬───────────┬────────────┐
│ country     ┆ year ┆ pop      ┆ continent ┆ lifeExp   ┆ gdpPercap  │
│ ---         ┆ ---  ┆ ---      ┆ ---       ┆ ---       ┆ ---        │
│ str         ┆ i16  ┆ i64      ┆ str       ┆ f32       ┆ f64        │
╞═════════════╪══════╪══════════╪═══════════╪═══════════╪════════════╡
│ Zimbabwe    ┆ 1952 ┆ 3080907  ┆ Africa    ┆ 48.451    ┆ 406.884115 │
│ Zimbabwe    ┆ 1957 ┆ 3646340  ┆ Africa    ┆ 50.469002 ┆ 518.764268 │
│ Zimbabwe    ┆ 1962 ┆ 4277736  ┆ Africa    ┆ 52.358002 ┆ 527.272182 │
│ Zimbabwe    ┆ 1967 ┆ 4995432  ┆ Africa    ┆ 53.994999 ┆ 569.795071 │
│ …           ┆ …    ┆ …        ┆ …         ┆ …         ┆ …          │
│ Afghanistan ┆ 1992 ┆ 16317921 ┆ Asia      ┆ 41.674    ┆ 649.341395 │
│ Afghanistan ┆ 1997 ┆ 22227415 ┆ Asia      ┆ 41.763    ┆ 635.341351 │
│ Afghanistan ┆ 2002 ┆ 25268405 ┆ Asia      ┆ 42.129002 ┆ 726.734055 │
│ Afghanistan ┆ 2007 ┆ 31889923 ┆ Asia      ┆ 43.827999 ┆ 974.580338 │
└─────────────┴──────┴──────────┴───────────┴───────────┴────────────┘

## Pobieranie największych wartości na podstawie kolumny

In [111]:
df.sort('pop', descending=True).slice(0,5)

shape: (5, 6)
┌─────────┬──────┬──────┬───────────┬───────────┬─────────────┐
│ country ┆ year ┆ pop  ┆ continent ┆ lifeExp   ┆ gdpPercap   │
│ ---     ┆ ---  ┆ ---  ┆ ---       ┆ ---       ┆ ---         │
│ str     ┆ i16  ┆ i64  ┆ str       ┆ f32       ┆ f64         │
╞═════════╪══════╪══════╪═══════════╪═══════════╪═════════════╡
│ India   ┆ 1997 ┆ null ┆ Asia      ┆ 61.764999 ┆ 1458.817442 │
│ India   ┆ 1992 ┆ null ┆ Asia      ┆ 60.223    ┆ 1164.406809 │
│ India   ┆ 1987 ┆ null ┆ Asia      ┆ 58.553001 ┆ 976.512676  │
│ India   ┆ 1982 ┆ null ┆ Asia      ┆ 56.596001 ┆ 855.723538  │
│ India   ┆ 1977 ┆ null ┆ Asia      ┆ 54.208    ┆ 813.337323  │
└─────────┴──────┴──────┴───────────┴───────────┴─────────────┘

## Pobieranie najmniejszych wartości na podstawie kolumny

In [112]:
df.sort('lifeExp').slice(0,5)

shape: (5, 6)
┌──────────────┬──────┬─────────┬───────────┬───────────┬─────────────┐
│ country      ┆ year ┆ pop     ┆ continent ┆ lifeExp   ┆ gdpPercap   │
│ ---          ┆ ---  ┆ ---     ┆ ---       ┆ ---       ┆ ---         │
│ str          ┆ i16  ┆ i64     ┆ str       ┆ f32       ┆ f64         │
╞══════════════╪══════╪═════════╪═══════════╪═══════════╪═════════════╡
│ Rwanda       ┆ 1992 ┆ 7290203 ┆ Africa    ┆ 23.599001 ┆ 737.068595  │
│ Afghanistan  ┆ 1952 ┆ 8425333 ┆ Asia      ┆ 28.801001 ┆ 779.445314  │
│ Gambia       ┆ 1952 ┆ 284320  ┆ Africa    ┆ 30.0      ┆ 485.230659  │
│ Angola       ┆ 1952 ┆ 4232095 ┆ Africa    ┆ 30.014999 ┆ 3520.610273 │
│ Sierra Leone ┆ 1952 ┆ 2143249 ┆ Africa    ┆ 30.330999 ┆ 879.787736  │
└──────────────┴──────┴─────────┴───────────┴───────────┴─────────────┘

## Zmiana nazw kolumn

In [113]:
df = df.rename({"country":"Country", "gdpPercap":"GDP_per_cap"})
df.head()

shape: (5, 6)
┌─────────────┬──────┬──────────┬───────────┬───────────┬─────────────┐
│ Country     ┆ year ┆ pop      ┆ continent ┆ lifeExp   ┆ GDP_per_cap │
│ ---         ┆ ---  ┆ ---      ┆ ---       ┆ ---       ┆ ---         │
│ str         ┆ i16  ┆ i64      ┆ str       ┆ f32       ┆ f64         │
╞═════════════╪══════╪══════════╪═══════════╪═══════════╪═════════════╡
│ Afghanistan ┆ 1952 ┆ 8425333  ┆ Asia      ┆ 28.801001 ┆ 779.445314  │
│ Afghanistan ┆ 1957 ┆ 9240934  ┆ Asia      ┆ 30.332001 ┆ 820.85303   │
│ Afghanistan ┆ 1962 ┆ 10267083 ┆ Asia      ┆ 31.997    ┆ 853.10071   │
│ Afghanistan ┆ 1967 ┆ 11537966 ┆ Asia      ┆ 34.02     ┆ 836.197138  │
│ Afghanistan ┆ 1972 ┆ 13079460 ┆ Asia      ┆ 36.088001 ┆ 739.981106  │
└─────────────┴──────┴──────────┴───────────┴───────────┴─────────────┘

## Przekształcanie zawartości kolumny

Dodatkowa kolumna "pop_range" będzie przyjmować wartość z zakresu L,M,H w zależności o wartości kolumny "pop" wg reguły:

- L dla <50mln
- M dla >=50mln i <100mln
- H dla >=100mln

In [114]:
def apply_pop(x):
    if x < 50_000_000:
        return "L"
    elif x < 100_000_000:
        return "M"
    else:
        return "H"

# Stosowanie funkcji do kolumny 'pop'
df = df.with_columns([df["pop"].apply(apply_pop).alias("pop_range")])

# Wyświetlanie pierwszych 3 wierszy
print(df.head(3))

shape: (3, 7)
┌─────────────┬──────┬──────────┬───────────┬───────────┬─────────────┬───────────┐
│ Country     ┆ year ┆ pop      ┆ continent ┆ lifeExp   ┆ GDP_per_cap ┆ pop_range │
│ ---         ┆ ---  ┆ ---      ┆ ---       ┆ ---       ┆ ---         ┆ ---       │
│ str         ┆ i16  ┆ i64      ┆ str       ┆ f32       ┆ f64         ┆ str       │
╞═════════════╪══════╪══════════╪═══════════╪═══════════╪═════════════╪═══════════╡
│ Afghanistan ┆ 1952 ┆ 8425333  ┆ Asia      ┆ 28.801001 ┆ 779.445314  ┆ L         │
│ Afghanistan ┆ 1957 ┆ 9240934  ┆ Asia      ┆ 30.332001 ┆ 820.85303   ┆ L         │
│ Afghanistan ┆ 1962 ┆ 10267083 ┆ Asia      ┆ 31.997    ┆ 853.10071   ┆ L         │
└─────────────┴──────┴──────────┴───────────┴───────────┴─────────────┴───────────┘

## Mapowanie wartości w kolumnie

zmapuj kolumnę "pop_range" wg schematu: dla L wartość Low, dla M - Medium, dla H - High

In [115]:
df = df.with_columns([
    pl.when(df["pop_range"] == "L")
      .then(pl.lit("Low"))
      .when(df["pop_range"] == "M")
      .then(pl.lit("Medium"))
      .when(df["pop_range"] == "H")
      .then(pl.lit("High"))
      .otherwise(df["pop_range"])
      .alias("pop_range")
])

# Wyświetl pierwsze wiersze
print(df.head())

shape: (5, 7)
┌─────────────┬──────┬──────────┬───────────┬───────────┬─────────────┬───────────┐
│ Country     ┆ year ┆ pop      ┆ continent ┆ lifeExp   ┆ GDP_per_cap ┆ pop_range │
│ ---         ┆ ---  ┆ ---      ┆ ---       ┆ ---       ┆ ---         ┆ ---       │
│ str         ┆ i16  ┆ i64      ┆ str       ┆ f32       ┆ f64         ┆ str       │
╞═════════════╪══════╪══════════╪═══════════╪═══════════╪═════════════╪═══════════╡
│ Afghanistan ┆ 1952 ┆ 8425333  ┆ Asia      ┆ 28.801001 ┆ 779.445314  ┆ Low       │
│ Afghanistan ┆ 1957 ┆ 9240934  ┆ Asia      ┆ 30.332001 ┆ 820.85303   ┆ Low       │
│ Afghanistan ┆ 1962 ┆ 10267083 ┆ Asia      ┆ 31.997    ┆ 853.10071   ┆ Low       │
│ Afghanistan ┆ 1967 ┆ 11537966 ┆ Asia      ┆ 34.02     ┆ 836.197138  ┆ Low       │
│ Afghanistan ┆ 1972 ┆ 13079460 ┆ Asia      ┆ 36.088001 ┆ 739.981106  ┆ Low       │
└─────────────┴──────┴──────────┴───────────┴───────────┴─────────────┴───────────┘

## Usuwanie kolumn(y)

In [116]:
df.drop("pop")

shape: (1_704, 6)
┌─────────────┬──────┬───────────┬───────────┬─────────────┬───────────┐
│ Country     ┆ year ┆ continent ┆ lifeExp   ┆ GDP_per_cap ┆ pop_range │
│ ---         ┆ ---  ┆ ---       ┆ ---       ┆ ---         ┆ ---       │
│ str         ┆ i16  ┆ str       ┆ f32       ┆ f64         ┆ str       │
╞═════════════╪══════╪═══════════╪═══════════╪═════════════╪═══════════╡
│ Afghanistan ┆ 1952 ┆ Asia      ┆ 28.801001 ┆ 779.445314  ┆ Low       │
│ Afghanistan ┆ 1957 ┆ Asia      ┆ 30.332001 ┆ 820.85303   ┆ Low       │
│ Afghanistan ┆ 1962 ┆ Asia      ┆ 31.997    ┆ 853.10071   ┆ Low       │
│ Afghanistan ┆ 1967 ┆ Asia      ┆ 34.02     ┆ 836.197138  ┆ Low       │
│ …           ┆ …    ┆ …         ┆ …         ┆ …           ┆ …         │
│ Zimbabwe    ┆ 1992 ┆ Africa    ┆ 60.376999 ┆ 693.420786  ┆ Low       │
│ Zimbabwe    ┆ 1997 ┆ Africa    ┆ 46.808998 ┆ 792.44996   ┆ Low       │
│ Zimbabwe    ┆ 2002 ┆ Africa    ┆ 39.988998 ┆ 672.038623  ┆ Low       │
│ Zimbabwe    ┆ 2007 ┆ Africa    ┆ 43.487    ┆ 469.709298  ┆ Low       │
└─────────────┴──────┴───────────┴───────────┴─────────────┴───────────┘

In [117]:
df.drop(["pop","continent"])

shape: (1_704, 5)
┌─────────────┬──────┬───────────┬─────────────┬───────────┐
│ Country     ┆ year ┆ lifeExp   ┆ GDP_per_cap ┆ pop_range │
│ ---         ┆ ---  ┆ ---       ┆ ---         ┆ ---       │
│ str         ┆ i16  ┆ f32       ┆ f64         ┆ str       │
╞═════════════╪══════╪═══════════╪═════════════╪═══════════╡
│ Afghanistan ┆ 1952 ┆ 28.801001 ┆ 779.445314  ┆ Low       │
│ Afghanistan ┆ 1957 ┆ 30.332001 ┆ 820.85303   ┆ Low       │
│ Afghanistan ┆ 1962 ┆ 31.997    ┆ 853.10071   ┆ Low       │
│ Afghanistan ┆ 1967 ┆ 34.02     ┆ 836.197138  ┆ Low       │
│ …           ┆ …    ┆ …         ┆ …           ┆ …         │
│ Zimbabwe    ┆ 1992 ┆ 60.376999 ┆ 693.420786  ┆ Low       │
│ Zimbabwe    ┆ 1997 ┆ 46.808998 ┆ 792.44996   ┆ Low       │
│ Zimbabwe    ┆ 2002 ┆ 39.988998 ┆ 672.038623  ┆ Low       │
│ Zimbabwe    ┆ 2007 ┆ 43.487    ┆ 469.709298  ┆ Low       │
└─────────────┴──────┴───────────┴─────────────┴───────────┘

## Przekształcanie kolumny typu object z wykorzystanie funkcji obiektów string

In [118]:
# Zmiana wartości w kolumnie 'Country' na wielkie litery
df = df.with_columns([
    df["Country"].str.to_uppercase().alias("Country")
])

# Wyświetl pierwsze wiersze
print(df.head())

shape: (5, 7)
┌─────────────┬──────┬──────────┬───────────┬───────────┬─────────────┬───────────┐
│ Country     ┆ year ┆ pop      ┆ continent ┆ lifeExp   ┆ GDP_per_cap ┆ pop_range │
│ ---         ┆ ---  ┆ ---      ┆ ---       ┆ ---       ┆ ---         ┆ ---       │
│ str         ┆ i16  ┆ i64      ┆ str       ┆ f32       ┆ f64         ┆ str       │
╞═════════════╪══════╪══════════╪═══════════╪═══════════╪═════════════╪═══════════╡
│ AFGHANISTAN ┆ 1952 ┆ 8425333  ┆ Asia      ┆ 28.801001 ┆ 779.445314  ┆ Low       │
│ AFGHANISTAN ┆ 1957 ┆ 9240934  ┆ Asia      ┆ 30.332001 ┆ 820.85303   ┆ Low       │
│ AFGHANISTAN ┆ 1962 ┆ 10267083 ┆ Asia      ┆ 31.997    ┆ 853.10071   ┆ Low       │
│ AFGHANISTAN ┆ 1967 ┆ 11537966 ┆ Asia      ┆ 34.02     ┆ 836.197138  ┆ Low       │
│ AFGHANISTAN ┆ 1972 ┆ 13079460 ┆ Asia      ┆ 36.088001 ┆ 739.981106  ┆ Low       │
└─────────────┴──────┴──────────┴───────────┴───────────┴─────────────┴───────────┘

## Pobranie losowych wierszy z DataFrame

In [119]:
# ilościowo - z parametrem "n"
df.sample(n=10, seed=0)

shape: (10, 7)
┌────────────────────┬──────┬──────────┬───────────┬───────────┬─────────────┬───────────┐
│ Country            ┆ year ┆ pop      ┆ continent ┆ lifeExp   ┆ GDP_per_cap ┆ pop_range │
│ ---                ┆ ---  ┆ ---      ┆ ---       ┆ ---       ┆ ---         ┆ ---       │
│ str                ┆ i16  ┆ i64      ┆ str       ┆ f32       ┆ f64         ┆ str       │
╞════════════════════╪══════╪══════════╪═══════════╪═══════════╪═════════════╪═══════════╡
│ ISRAEL             ┆ 1962 ┆ 2310904  ┆ Asia      ┆ 69.389999 ┆ 7105.630706 ┆ Low       │
│ IRELAND            ┆ 1952 ┆ 2952156  ┆ Europe    ┆ 66.910004 ┆ 5210.280328 ┆ Low       │
│ JAMAICA            ┆ 1972 ┆ 1997616  ┆ Americas  ┆ 69.0      ┆ 7433.889293 ┆ Low       │
│ TANZANIA           ┆ 2007 ┆ 38139640 ┆ Africa    ┆ 52.516998 ┆ 1107.482182 ┆ Low       │
│ …                  ┆ …    ┆ …        ┆ …         ┆ …         ┆ …           ┆ …         │
│ DENMARK            ┆ 1957 ┆ 4487831  ┆ Europe    ┆ 71.809998 ┆ 11099.65935 ┆ Low       │
│ WEST BANK AND GAZA ┆ 1977 ┆ 1261091  ┆ Asia      ┆ 60.764999 ┆ 3682.831494 ┆ Low       │
│ NEW ZEALAND        ┆ 1977 ┆ 3164900  ┆ Oceania   ┆ 72.220001 ┆ 16233.7177  ┆ Low       │
│ BAHRAIN            ┆ 1997 ┆ 598561   ┆ Asia      ┆ 73.925003 ┆ 20292.01679 ┆ Low       │
└────────────────────┴──────┴──────────┴───────────┴───────────┴─────────────┴───────────┘

In [120]:
# procentowo - z parametrem "frac"
df.sample(fraction=0.5/100, seed=42)

shape: (8, 7)
┌──────────────────────────┬──────┬─────────┬───────────┬───────────┬─────────────┬───────────┐
│ Country                  ┆ year ┆ pop     ┆ continent ┆ lifeExp   ┆ GDP_per_cap ┆ pop_range │
│ ---                      ┆ ---  ┆ ---     ┆ ---       ┆ ---       ┆ ---         ┆ ---       │
│ str                      ┆ i16  ┆ i64     ┆ str       ┆ f32       ┆ f64         ┆ str       │
╞══════════════════════════╪══════╪═════════╪═══════════╪═══════════╪═════════════╪═══════════╡
│ CHAD                     ┆ 1982 ┆ 4875118 ┆ Africa    ┆ 49.516998 ┆ 797.908101  ┆ Low       │
│ FINLAND                  ┆ 1952 ┆ 4090500 ┆ Europe    ┆ 66.550003 ┆ 6424.519071 ┆ Low       │
│ ERITREA                  ┆ 2002 ┆ 4414865 ┆ Africa    ┆ 55.240002 ┆ 765.350001  ┆ Low       │
│ PORTUGAL                 ┆ 1962 ┆ 9019800 ┆ Europe    ┆ 64.389999 ┆ 4727.954889 ┆ Low       │
│ MADAGASCAR               ┆ 1977 ┆ 8007166 ┆ Africa    ┆ 46.881001 ┆ 1544.228586 ┆ Low       │
│ CENTRAL AFRICAN REPUBLIC ┆ 1977 ┆ 2167533 ┆ Africa    ┆ 46.775002 ┆ 1109.374338 ┆ Low       │
│ GABON                    ┆ 1962 ┆ 455661  ┆ Africa    ┆ 40.488998 ┆ 6631.459222 ┆ Low       │
│ JAMAICA                  ┆ 1962 ┆ 1665128 ┆ Americas  ┆ 65.610001 ┆ 5246.107524 ┆ Low       │
└──────────────────────────┴──────┴─────────┴───────────┴───────────┴─────────────┴───────────┘

## Pobranie wartości unikalnych z kolumny

In [121]:
df["Country"].unique()

shape: (142,)
Series: 'Country' [str]
[
	"PORTUGAL"
	"MOZAMBIQUE"
	"SIERRA LEONE"
	"VIETNAM"
	"SLOVENIA"
	"SWEDEN"
	"MONGOLIA"
	"SENEGAL"
	"ALGERIA"
	"THAILAND"
	"BAHRAIN"
	"NORWAY"
	…
	"BULGARIA"
	"WEST BANK AND …
	"ERITREA"
	"NEPAL"
	"GERMANY"
	"BENIN"
	"UNITED STATES"
	"COTE D'IVOIRE"
	"YEMEN REP."
	"BELGIUM"
	"UNITED KINGDOM…
	"CONGO DEM. REP…
	"CHAD"
]

## Pobranie statystyki wartości unikalnych

In [122]:
df["Country"].value_counts()

shape: (142, 2)
┌─────────────┬───────┐
│ Country     ┆ count │
│ ---         ┆ ---   │
│ str         ┆ u32   │
╞═════════════╪═══════╡
│ CAMBODIA    ┆ 12    │
│ THAILAND    ┆ 12    │
│ TUNISIA     ┆ 12    │
│ NIGERIA     ┆ 12    │
│ …           ┆ …     │
│ EL SALVADOR ┆ 12    │
│ ALGERIA     ┆ 12    │
│ SYRIA       ┆ 12    │
│ BULGARIA    ┆ 12    │
└─────────────┴───────┘

## Filtrowanie danych

In [123]:
# Wybór wierszy spełniających określone warunki
df_filtered = df.filter(
    (df["year"] > 1957) &
    (df["lifeExp"] > 40) &
    ~(df["pop_range"] == "Low") &
    ((df["continent"] == "Asia") | (df["continent"] == "Europe"))
)
df_filtered

shape: (118, 7)
┌────────────┬──────┬──────────┬───────────┬───────────┬─────────────┬───────────┐
│ Country    ┆ year ┆ pop      ┆ continent ┆ lifeExp   ┆ GDP_per_cap ┆ pop_range │
│ ---        ┆ ---  ┆ ---      ┆ ---       ┆ ---       ┆ ---         ┆ ---       │
│ str        ┆ i16  ┆ i64      ┆ str       ┆ f32       ┆ f64         ┆ str       │
╞════════════╪══════╪══════════╪═══════════╪═══════════╪═════════════╪═══════════╡
│ BANGLADESH ┆ 1962 ┆ 56839289 ┆ Asia      ┆ 41.216    ┆ 686.341554  ┆ Medium    │
│ BANGLADESH ┆ 1967 ┆ 62821884 ┆ Asia      ┆ 43.452999 ┆ 721.186086  ┆ Medium    │
│ BANGLADESH ┆ 1972 ┆ 70759295 ┆ Asia      ┆ 45.251999 ┆ 630.233627  ┆ Medium    │
│ BANGLADESH ┆ 1977 ┆ 80428306 ┆ Asia      ┆ 46.923    ┆ 659.877232  ┆ Medium    │
│ …          ┆ …    ┆ …        ┆ …         ┆ …         ┆ …           ┆ …         │
│ VIETNAM    ┆ 1992 ┆ 69940728 ┆ Asia      ┆ 67.662003 ┆ 989.023149  ┆ Medium    │
│ VIETNAM    ┆ 1997 ┆ 76048996 ┆ Asia      ┆ 70.671997 ┆ 1385.896769 ┆ Medium    │
│ VIETNAM    ┆ 2002 ┆ 80908147 ┆ Asia      ┆ 73.016998 ┆ 1764.456677 ┆ Medium    │
│ VIETNAM    ┆ 2007 ┆ 85262356 ┆ Asia      ┆ 74.249001 ┆ 2441.576404 ┆ Medium    │
└────────────┴──────┴──────────┴───────────┴───────────┴─────────────┴───────────┘

## Groupowanie danych

In [124]:
dfg = df.groupby('continent')



Zliczenie elementów w poszczególnych grupach

In [125]:
dfg.count()

shape: (5, 2)
┌───────────┬───────┐
│ continent ┆ count │
│ ---       ┆ ---   │
│ str       ┆ u32   │
╞═══════════╪═══════╡
│ Oceania   ┆ 24    │
│ Americas  ┆ 300   │
│ Africa    ┆ 624   │
│ Europe    ┆ 360   │
│ Asia      ┆ 396   │
└───────────┴───────┘





Wykonanie funkcji agregującej

In [126]:
dfg.agg([
    pl.col("GDP_per_cap").mean().alias("GDP_per_cap_mean"),
    pl.col("lifeExp").std().alias("lifeExp_std"),
])

shape: (5, 3)
┌───────────┬──────────────────┬─────────────┐
│ continent ┆ GDP_per_cap_mean ┆ lifeExp_std │
│ ---       ┆ ---              ┆ ---         │
│ str       ┆ f64              ┆ f32         │
╞═══════════╪══════════════════╪═════════════╡
│ Americas  ┆ 7136.110356      ┆ 9.345088    │
│ Oceania   ┆ 18621.609223     ┆ 3.795612    │
│ Africa    ┆ 2193.754578      ┆ 9.15021     │
│ Asia      ┆ 7902.150428      ┆ 11.864532   │
│ Europe    ┆ 14469.475533     ┆ 5.433178    │
└───────────┴──────────────────┴─────────────┘



Pobranie top wartości z każdej grupy dla wartości z zadanej kolumny

In [127]:
df.sort("lifeExp", descending=True).groupby("continent").first()

shape: (5, 7)
┌───────────┬───────────┬──────┬───────────┬───────────┬─────────────┬───────────┐
│ continent ┆ Country   ┆ year ┆ pop       ┆ lifeExp   ┆ GDP_per_cap ┆ pop_range │
│ ---       ┆ ---       ┆ ---  ┆ ---       ┆ ---       ┆ ---         ┆ ---       │
│ str       ┆ str       ┆ i16  ┆ i64       ┆ f32       ┆ f64         ┆ str       │
╞═══════════╪═══════════╪══════╪═══════════╪═══════════╪═════════════╪═══════════╡
│ Africa    ┆ REUNION   ┆ 2007 ┆ 798094    ┆ 76.442001 ┆ 7670.122558 ┆ Low       │
│ Oceania   ┆ AUSTRALIA ┆ 2007 ┆ 20434176  ┆ 81.235001 ┆ 34435.36744 ┆ Low       │
│ Asia      ┆ JAPAN     ┆ 2007 ┆ 127467972 ┆ 82.602997 ┆ 31656.06806 ┆ High      │
│ Americas  ┆ CANADA    ┆ 2007 ┆ 33390141  ┆ 80.653    ┆ 36319.23501 ┆ Low       │
│ Europe    ┆ ICELAND   ┆ 2007 ┆ 301931    ┆ 81.757004 ┆ 36180.78919 ┆ Low       │
└───────────┴───────────┴──────┴───────────┴───────────┴─────────────┴───────────┘

## Deduplikacja danych



Znajdowanie duplikatów

In [128]:
df.is_duplicated().sum()

0



Pokaż zduplikowane rekordy

In [129]:
df.filter(df.is_duplicated())

shape: (0, 7)
┌─────────┬──────┬─────┬───────────┬─────────┬─────────────┬───────────┐
│ Country ┆ year ┆ pop ┆ continent ┆ lifeExp ┆ GDP_per_cap ┆ pop_range │
│ ---     ┆ ---  ┆ --- ┆ ---       ┆ ---     ┆ ---         ┆ ---       │
│ str     ┆ i16  ┆ i64 ┆ str       ┆ f32     ┆ f64         ┆ str       │
╞═════════╪══════╪═════╪═══════════╪═════════╪═════════════╪═══════════╡
└─────────┴──────┴─────┴───────────┴─────────┴─────────────┴───────────┘

In [130]:
# Wybierz kolumny, na podstawie których chcesz znaleźć duplikaty
selected_columns = ["Country"]  # Zastąp odpowiednimi nazwami kolumn

# Grupowanie danych na podstawie wybranych kolumn i zliczanie liczby wystąpień
grouped = df.groupby(selected_columns).agg([
    pl.count().alias("count")
])

# Filtrowanie grup, które mają więcej niż jedno wystąpienie
duplicates = grouped.filter(grouped["count"] > 1)

# Wyświetlanie grup zduplikowanych rekordów
print(duplicates)

shape: (142, 2)
┌────────────────────┬───────┐
│ Country            ┆ count │
│ ---                ┆ ---   │
│ str                ┆ u32   │
╞════════════════════╪═══════╡
│ EQUATORIAL GUINEA  ┆ 12    │
│ NETHERLANDS        ┆ 12    │
│ HONDURAS           ┆ 12    │
│ BURKINA FASO       ┆ 12    │
│ …                  ┆ …     │
│ LIBERIA            ┆ 12    │
│ CHILE              ┆ 12    │
│ TUNISIA            ┆ 12    │
│ WEST BANK AND GAZA ┆ 12    │
└────────────────────┴───────┘

usuń duplikaty

In [131]:
df.unique()

shape: (1_704, 7)
┌─────────────┬──────┬──────────┬───────────┬───────────┬─────────────┬───────────┐
│ Country     ┆ year ┆ pop      ┆ continent ┆ lifeExp   ┆ GDP_per_cap ┆ pop_range │
│ ---         ┆ ---  ┆ ---      ┆ ---       ┆ ---       ┆ ---         ┆ ---       │
│ str         ┆ i16  ┆ i64      ┆ str       ┆ f32       ┆ f64         ┆ str       │
╞═════════════╪══════╪══════════╪═══════════╪═══════════╪═════════════╪═══════════╡
│ AFGHANISTAN ┆ 1952 ┆ 8425333  ┆ Asia      ┆ 28.801001 ┆ 779.445314  ┆ Low       │
│ AFGHANISTAN ┆ 1957 ┆ 9240934  ┆ Asia      ┆ 30.332001 ┆ 820.85303   ┆ Low       │
│ AFGHANISTAN ┆ 1962 ┆ 10267083 ┆ Asia      ┆ 31.997    ┆ 853.10071   ┆ Low       │
│ AFGHANISTAN ┆ 1972 ┆ 13079460 ┆ Asia      ┆ 36.088001 ┆ 739.981106  ┆ Low       │
│ …           ┆ …    ┆ …        ┆ …         ┆ …         ┆ …           ┆ …         │
│ ZIMBABWE    ┆ 1967 ┆ 4995432  ┆ Africa    ┆ 53.994999 ┆ 569.795071  ┆ Low       │
│ ZIMBABWE    ┆ 1977 ┆ 6642107  ┆ Africa    ┆ 57.674    ┆ 685.587682  ┆ Low       │
│ ZIMBABWE    ┆ 1987 ┆ 9216418  ┆ Africa    ┆ 62.351002 ┆ 706.157306  ┆ Low       │
│ ZIMBABWE    ┆ 2007 ┆ 12311143 ┆ Africa    ┆ 43.487    ┆ 469.709298  ┆ Low       │
└─────────────┴──────┴──────────┴───────────┴───────────┴─────────────┴───────────┘

In [132]:
# Usuń duplikaty na podstawie kryterium kolumn, pozostaw tylko ostanie wystąpienie

df.unique(subset="Country", keep="last")

shape: (142, 7)
┌───────────────────────┬──────┬──────────┬───────────┬───────────┬─────────────┬───────────┐
│ Country               ┆ year ┆ pop      ┆ continent ┆ lifeExp   ┆ GDP_per_cap ┆ pop_range │
│ ---                   ┆ ---  ┆ ---      ┆ ---       ┆ ---       ┆ ---         ┆ ---       │
│ str                   ┆ i16  ┆ i64      ┆ str       ┆ f32       ┆ f64         ┆ str       │
╞═══════════════════════╪══════╪══════════╪═══════════╪═══════════╪═════════════╪═══════════╡
│ ISRAEL                ┆ 2007 ┆ 6426679  ┆ Asia      ┆ 80.745003 ┆ 25523.2771  ┆ Low       │
│ MALI                  ┆ 2007 ┆ 12031795 ┆ Africa    ┆ 54.466999 ┆ 1042.581557 ┆ Low       │
│ REUNION               ┆ 2007 ┆ 798094   ┆ Africa    ┆ 76.442001 ┆ 7670.122558 ┆ Low       │
│ DOMINICAN REPUBLIC    ┆ 2007 ┆ 9319622  ┆ Americas  ┆ 72.235001 ┆ 6025.374752 ┆ Low       │
│ …                     ┆ …    ┆ …        ┆ …         ┆ …         ┆ …           ┆ …         │
│ SLOVAK REPUBLIC       ┆ 2007 ┆ 5447502  ┆ Europe    ┆ 74.663002 ┆ 18678.31435 ┆ Low       │
│ MAURITIUS             ┆ 2007 ┆ 1250882  ┆ Africa    ┆ 72.801003 ┆ 10956.99112 ┆ Low       │
│ SAO TOME AND PRINCIPE ┆ 2007 ┆ 199579   ┆ Africa    ┆ 65.528    ┆ 1598.435089 ┆ Low       │
│ JAMAICA               ┆ 2007 ┆ 2780132  ┆ Americas  ┆ 72.567001 ┆ 7320.880262 ┆ Low       │
└───────────────────────┴──────┴──────────┴───────────┴───────────┴─────────────┴───────────┘

## Budowanie rankingu

In [133]:
df.filter(df["year"]==2007).with_columns([pl.col("lifeExp").rank(method="average").alias("rank")]).sort("rank")

shape: (142, 8)
┌─────────────────┬──────┬───────────┬───────────┬───────────┬─────────────┬───────────┬───────┐
│ Country         ┆ year ┆ pop       ┆ continent ┆ lifeExp   ┆ GDP_per_cap ┆ pop_range ┆ rank  │
│ ---             ┆ ---  ┆ ---       ┆ ---       ┆ ---       ┆ ---         ┆ ---       ┆ ---   │
│ str             ┆ i16  ┆ i64       ┆ str       ┆ f32       ┆ f64         ┆ str       ┆ f64   │
╞═════════════════╪══════╪═══════════╪═══════════╪═══════════╪═════════════╪═══════════╪═══════╡
│ SWAZILAND       ┆ 2007 ┆ 1133066   ┆ Africa    ┆ 39.612999 ┆ 4513.480643 ┆ Low       ┆ 1.0   │
│ MOZAMBIQUE      ┆ 2007 ┆ 19951656  ┆ Africa    ┆ 42.082001 ┆ 823.685621  ┆ Low       ┆ 2.0   │
│ ZAMBIA          ┆ 2007 ┆ 11746035  ┆ Africa    ┆ 42.383999 ┆ 1271.211593 ┆ Low       ┆ 3.0   │
│ SIERRA LEONE    ┆ 2007 ┆ 6144562   ┆ Africa    ┆ 42.568001 ┆ 862.540756  ┆ Low       ┆ 4.0   │
│ …               ┆ …    ┆ …         ┆ …         ┆ …         ┆ …           ┆ …         ┆ …     │
│ SWITZERLAND     ┆ 2007 ┆ 7554661   ┆ Europe    ┆ 81.700996 ┆ 37506.41907 ┆ Low       ┆ 139.0 │
│ ICELAND         ┆ 2007 ┆ 301931    ┆ Europe    ┆ 81.757004 ┆ 36180.78919 ┆ Low       ┆ 140.0 │
│ HONG KONG CHINA ┆ 2007 ┆ 6980412   ┆ Asia      ┆ 82.208    ┆ 39724.97867 ┆ Low       ┆ 141.0 │
│ JAPAN           ┆ 2007 ┆ 127467972 ┆ Asia      ┆ 82.602997 ┆ 31656.06806 ┆ High      ┆ 142.0 │
└─────────────────┴──────┴───────────┴───────────┴───────────┴─────────────┴───────────┴───────┘

## Obsługa wartości brakujących (missing values)

In [134]:
import polars as pl
import numpy as np

# Załóżmy, że df to Twój DataFrame

# Losowe wybieranie 15 wierszy z DataFrame
df_tmp = df.sample(n=15, seed=42)

# Dodanie kolumny z numerami wierszy
df_tmp = df_tmp.with_columns([pl.arange(0, len(df_tmp)).alias("row_nr")])

# Ustawienie ziarna pseudolosowości
np.random.seed(1)

# Losowanie indeksów i przypisywanie NaN w kolumnie 'GDP_per_cap'
indices_gdp = np.random.choice(len(df_tmp), 5, replace=False)
gdp_per_cap_column = pl.when(pl.col("row_nr").is_in(indices_gdp))\
                      .then(np.NaN)\
                      .otherwise(pl.col("GDP_per_cap"))\
                      .alias("GDP_per_cap")

# Losowanie indeksów i przypisywanie NaN w kolumnie 'pop'
indices_pop = np.random.choice(len(df_tmp), 5, replace=False)
pop_column = pl.when(pl.col("row_nr").is_in(indices_pop))\
               .then(np.NaN)\
               .otherwise(pl.col("pop"))\
               .alias("pop")

# Modyfikacja kolumn w DataFrame
df_tmp = df_tmp.with_columns([gdp_per_cap_column, pop_column])


# Usunięcie kolumny row_nr
df_tmp = df_tmp.drop("row_nr")

# Utwórz słownik do przechowywania wartości NaN z odpowiednimi typami danych
nan_values = {}
for col in df_tmp.columns:
    dtype = df_tmp[col].dtype
    if dtype == pl.Float32:
        nan_values[col] = [np.float32('nan')]  # Użyj np.float32 do utworzenia NaN typu Float32
    elif dtype == pl.Float64:
        nan_values[col] = [np.float64('nan')]  # Użyj np.float64 dla Float64
    elif dtype == pl.Int32 or dtype == pl.Int64:
        nan_values[col] = [None]  # NaN nie jest dostępne dla typów całkowitych, użyj None
    else:
        nan_values[col] = [None]  # Dla stringów i innych typów danych również użyj None

# Tworzenie DataFrame z pojedynczym wierszem NaN
nan_row = pl.DataFrame(nan_values)

# Dołączenie nowego wiersza do istniejącego DataFrame
df_tmp = pl.concat([df_tmp, nan_row])

# Wyświetlenie wynikowego DataFrame
print(df_tmp)

shape: (16, 7)
┌──────────────┬──────┬─────────────┬───────────┬───────────┬─────────────┬───────────┐
│ Country      ┆ year ┆ pop         ┆ continent ┆ lifeExp   ┆ GDP_per_cap ┆ pop_range │
│ ---          ┆ ---  ┆ ---         ┆ ---       ┆ ---       ┆ ---         ┆ ---       │
│ str          ┆ i16  ┆ f64         ┆ str       ┆ f32       ┆ f64         ┆ str       │
╞══════════════╪══════╪═════════════╪═══════════╪═══════════╪═════════════╪═══════════╡
│ CHAD         ┆ 1977 ┆ NaN         ┆ Africa    ┆ 47.382999 ┆ 1133.98495  ┆ Low       │
│ ETHIOPIA     ┆ 2002 ┆ 6.7946797e7 ┆ Africa    ┆ 50.724998 ┆ 530.053532  ┆ Medium    │
│ ERITREA      ┆ 1992 ┆ 3.66844e6   ┆ Africa    ┆ 49.991001 ┆ NaN         ┆ Low       │
│ POLAND       ┆ 1997 ┆ NaN         ┆ Europe    ┆ 72.75     ┆ NaN         ┆ Low       │
│ …            ┆ …    ┆ …           ┆ …         ┆ …         ┆ …           ┆ …         │
│ SYRIA        ┆ 1962 ┆ 4.834621e6  ┆ Asia      ┆ 50.305    ┆ 2193.037133 ┆ Low       │
│ SAUDI ARABIA ┆ 1982 ┆ NaN         ┆ Asia      ┆ 63.012001 ┆ 33693.17525 ┆ Low       │
│ MALAYSIA     ┆ 1997 ┆ 2.0476091e7 ┆ Asia      ┆ 71.938004 ┆ 10132.90964 ┆ Low       │
│ null         ┆ null ┆ NaN         ┆ null      ┆ NaN       ┆ NaN         ┆ null      │
└──────────────┴──────┴─────────────┴───────────┴───────────┴─────────────┴───────────┘


Znalazienie ilości NaN w DataFrame

In [135]:
# Zastosuj is_null do każdej kolumny i zsumuj wartości True
nan_counts_per_column = {col.name: col.is_null().sum() for col in df_tmp}

# Opcjonalnie, zsumuj te liczby, aby uzyskać całkowitą liczbę NaN
total_nan_count = sum(nan_counts_per_column.values())

print(nan_counts_per_column)
print("Całkowita liczba NaN w DataFrame:", total_nan_count)

{'Country': 1, 'year': 1, 'pop': 0, 'continent': 1, 'lifeExp': 0, 'GDP_per_cap': 0, 'pop_range': 1}
Całkowita liczba NaN w DataFrame: 4



Usunięcie wierszy zawierających przynajmniej jedną wartość NaN

In [136]:
condition = pl.fold(acc=True, function=lambda acc, x: acc & x.is_not_null(), exprs=[pl.col(name) for name in df_tmp.columns])
print(df.filter(condition))

shape: (1_693, 7)
┌─────────────┬──────┬──────────┬───────────┬───────────┬─────────────┬───────────┐
│ Country     ┆ year ┆ pop      ┆ continent ┆ lifeExp   ┆ GDP_per_cap ┆ pop_range │
│ ---         ┆ ---  ┆ ---      ┆ ---       ┆ ---       ┆ ---         ┆ ---       │
│ str         ┆ i16  ┆ i64      ┆ str       ┆ f32       ┆ f64         ┆ str       │
╞═════════════╪══════╪══════════╪═══════════╪═══════════╪═════════════╪═══════════╡
│ AFGHANISTAN ┆ 1952 ┆ 8425333  ┆ Asia      ┆ 28.801001 ┆ 779.445314  ┆ Low       │
│ AFGHANISTAN ┆ 1957 ┆ 9240934  ┆ Asia      ┆ 30.332001 ┆ 820.85303   ┆ Low       │
│ AFGHANISTAN ┆ 1962 ┆ 10267083 ┆ Asia      ┆ 31.997    ┆ 853.10071   ┆ Low       │
│ AFGHANISTAN ┆ 1967 ┆ 11537966 ┆ Asia      ┆ 34.02     ┆ 836.197138  ┆ Low       │
│ …           ┆ …    ┆ …        ┆ …         ┆ …         ┆ …           ┆ …         │
│ ZIMBABWE    ┆ 1992 ┆ 10704340 ┆ Africa    ┆ 60.376999 ┆ 693.420786  ┆ Low       │
│ ZIMBABWE    ┆ 1997 ┆ 11404948 ┆ Africa    ┆ 46.808998 ┆ 792.44996   ┆ Low       │
│ ZIMBABWE    ┆ 2002 ┆ 11926563 ┆ Africa    ┆ 39.988998 ┆ 672.038623  ┆ Low       │
│ ZIMBABWE    ┆ 2007 ┆ 12311143 ┆ Africa    ┆ 43.487    ┆ 469.709298  ┆ Low       │
└─────────────┴──────┴──────────┴───────────┴───────────┴─────────────┴───────────┘

Usunięcie wierszy zawierających wszystkie wartości NaN w kolumnach

In [137]:
condition = pl.fold(acc=False, function=lambda acc, x: acc | x.is_not_null(), exprs=[pl.col(name) for name in df_tmp.columns])
df_clean = df.filter(condition)

print(df_clean)

shape: (1_704, 7)
┌─────────────┬──────┬──────────┬───────────┬───────────┬─────────────┬───────────┐
│ Country     ┆ year ┆ pop      ┆ continent ┆ lifeExp   ┆ GDP_per_cap ┆ pop_range │
│ ---         ┆ ---  ┆ ---      ┆ ---       ┆ ---       ┆ ---         ┆ ---       │
│ str         ┆ i16  ┆ i64      ┆ str       ┆ f32       ┆ f64         ┆ str       │
╞═════════════╪══════╪══════════╪═══════════╪═══════════╪═════════════╪═══════════╡
│ AFGHANISTAN ┆ 1952 ┆ 8425333  ┆ Asia      ┆ 28.801001 ┆ 779.445314  ┆ Low       │
│ AFGHANISTAN ┆ 1957 ┆ 9240934  ┆ Asia      ┆ 30.332001 ┆ 820.85303   ┆ Low       │
│ AFGHANISTAN ┆ 1962 ┆ 10267083 ┆ Asia      ┆ 31.997    ┆ 853.10071   ┆ Low       │
│ AFGHANISTAN ┆ 1967 ┆ 11537966 ┆ Asia      ┆ 34.02     ┆ 836.197138  ┆ Low       │
│ …           ┆ …    ┆ …        ┆ …         ┆ …         ┆ …           ┆ …         │
│ ZIMBABWE    ┆ 1992 ┆ 10704340 ┆ Africa    ┆ 60.376999 ┆ 693.420786  ┆ Low       │
│ ZIMBABWE    ┆ 1997 ┆ 11404948 ┆ Africa    ┆ 46.808998 ┆ 792.44996   ┆ Low       │
│ ZIMBABWE    ┆ 2002 ┆ 11926563 ┆ Africa    ┆ 39.988998 ┆ 672.038623  ┆ Low       │
│ ZIMBABWE    ┆ 2007 ┆ 12311143 ┆ Africa    ┆ 43.487    ┆ 469.709298  ┆ Low       │
└─────────────┴──────┴──────────┴───────────┴───────────┴─────────────┴───────────┘



Zastąpienie wartości NaN w kolumnie "pop" wartością zero

In [138]:
df_filled = df.with_columns([
    pl.col("pop").fill_nan(0)
])

print(df_filled)

shape: (1_704, 7)
┌─────────────┬──────┬──────────┬───────────┬───────────┬─────────────┬───────────┐
│ Country     ┆ year ┆ pop      ┆ continent ┆ lifeExp   ┆ GDP_per_cap ┆ pop_range │
│ ---         ┆ ---  ┆ ---      ┆ ---       ┆ ---       ┆ ---         ┆ ---       │
│ str         ┆ i16  ┆ i64      ┆ str       ┆ f32       ┆ f64         ┆ str       │
╞═════════════╪══════╪══════════╪═══════════╪═══════════╪═════════════╪═══════════╡
│ AFGHANISTAN ┆ 1952 ┆ 8425333  ┆ Asia      ┆ 28.801001 ┆ 779.445314  ┆ Low       │
│ AFGHANISTAN ┆ 1957 ┆ 9240934  ┆ Asia      ┆ 30.332001 ┆ 820.85303   ┆ Low       │
│ AFGHANISTAN ┆ 1962 ┆ 10267083 ┆ Asia      ┆ 31.997    ┆ 853.10071   ┆ Low       │
│ AFGHANISTAN ┆ 1967 ┆ 11537966 ┆ Asia      ┆ 34.02     ┆ 836.197138  ┆ Low       │
│ …           ┆ …    ┆ …        ┆ …         ┆ …         ┆ …           ┆ …         │
│ ZIMBABWE    ┆ 1992 ┆ 10704340 ┆ Africa    ┆ 60.376999 ┆ 693.420786  ┆ Low       │
│ ZIMBABWE    ┆ 1997 ┆ 11404948 ┆ Africa    ┆ 46.808998 ┆ 792.44996   ┆ Low       │
│ ZIMBABWE    ┆ 2002 ┆ 11926563 ┆ Africa    ┆ 39.988998 ┆ 672.038623  ┆ Low       │
│ ZIMBABWE    ┆ 2007 ┆ 12311143 ┆ Africa    ┆ 43.487    ┆ 469.709298  ┆ Low       │
└─────────────┴──────┴──────────┴───────────┴───────────┴─────────────┴───────────┘

## Piwot obiektu DataFrame

In [139]:
pivot_table = (df.groupby(["continent", "year"])
                 .agg(pl.col("GDP_per_cap").mean().alias("GDP_per_cap"))
                 .pivot(index="continent", columns="year", values="GDP_per_cap"))

# Wypełnienie brakujących wartości w każdej kolumnie
filled_columns = [pivot_table[col].fill_nan(0).alias(col) for col in pivot_table.columns if pivot_table[col].dtype in [pl.Float32, pl.Float64]]
pivot_table = pivot_table.with_columns(filled_columns)

print(pivot_table)

shape: (5, 13)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ continent ┆ 1952      ┆ 1987      ┆ 1957      ┆ … ┆ 2007      ┆ 1972      ┆ 1997      ┆ 1992     │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆ f64       ┆ f64       ┆ f64       ┆   ┆ f64       ┆ f64       ┆ f64       ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Americas  ┆ 4079.0625 ┆ 7793.4002 ┆ 4616.0437 ┆ … ┆ 11003.031 ┆ 6491.3341 ┆ 8889.3008 ┆ 8044.934 │
│           ┆ 52        ┆ 61        ┆ 33        ┆   ┆ 625       ┆ 39        ┆ 63        ┆ 406      │
│ Africa    ┆ 1252.5724 ┆ 2282.6689 ┆ 1385.2360 ┆ … ┆ 3089.0326 ┆ 2339.6156 ┆ 2378.7595 ┆ 2281.810 │
│           ┆ 66        ┆ 91        ┆ 62        ┆   ┆ 05        ┆ 74        ┆ 55        ┆ 333      │
│ Asia      ┆ 5195.4840 ┆ 7608.2265 ┆ 5787.7329 ┆ … ┆ 12473.026 ┆ 8187.4686 ┆ 9834.0932 ┆ 8639.690 │
│           ┆ 04        ┆ 08        ┆ 4         ┆   ┆ 87        ┆ 99        ┆ 95        ┆ 248      │
│ Europe    ┆ 5661.0574 ┆ 17214.310 ┆ 6963.0128 ┆ … ┆ 25054.481 ┆ 12479.575 ┆ 19076.781 ┆ 17061.56 │
│           ┆ 35        ┆ 727       ┆ 16        ┆   ┆ 636       ┆ 246       ┆ 802       ┆ 8084     │
│ Oceania   ┆ 10298.085 ┆ 20448.040 ┆ 11598.522 ┆ … ┆ 29810.188 ┆ 16417.333 ┆ 24024.175 ┆ 20894.04 │
│           ┆ 65        ┆ 16        ┆ 455       ┆   ┆ 275       ┆ 38        ┆ 17        ┆ 5885     │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

## Przesuwanie danych (data shifting)

In [140]:
df_tmp = df.filter(pl.col("Country") == "POLAND").sort("year")

# Oblicz zmianę populacji
df_tmp = df_tmp.with_columns([
    (pl.col("pop") - pl.col("pop").shift(1)).alias("pop_change")
])
print(df_tmp)

shape: (12, 8)
┌─────────┬──────┬──────────┬───────────┬───────────┬─────────────┬───────────┬────────────┐
│ Country ┆ year ┆ pop      ┆ continent ┆ lifeExp   ┆ GDP_per_cap ┆ pop_range ┆ pop_change │
│ ---     ┆ ---  ┆ ---      ┆ ---       ┆ ---       ┆ ---         ┆ ---       ┆ ---        │
│ str     ┆ i16  ┆ i64      ┆ str       ┆ f32       ┆ f64         ┆ str       ┆ i64        │
╞═════════╪══════╪══════════╪═══════════╪═══════════╪═════════════╪═══════════╪════════════╡
│ POLAND  ┆ 1952 ┆ 25730551 ┆ Europe    ┆ 61.310001 ┆ 4029.329699 ┆ Low       ┆ null       │
│ POLAND  ┆ 1957 ┆ 28235346 ┆ Europe    ┆ 65.769997 ┆ 4734.253019 ┆ Low       ┆ 2504795    │
│ POLAND  ┆ 1962 ┆ 30329617 ┆ Europe    ┆ 67.639999 ┆ 5338.752143 ┆ Low       ┆ 2094271    │
│ POLAND  ┆ 1967 ┆ 31785378 ┆ Europe    ┆ 69.610001 ┆ 6557.152776 ┆ Low       ┆ 1455761    │
│ …       ┆ …    ┆ …        ┆ …         ┆ …         ┆ …           ┆ …         ┆ …          │
│ POLAND  ┆ 1992 ┆ 38370697 ┆ Europe    ┆ 70.989998 ┆ 7738.881247 ┆ Low       ┆ 629987     │
│ POLAND  ┆ 1997 ┆ 38654957 ┆ Europe    ┆ 72.75     ┆ 10159.58368 ┆ Low       ┆ 284260     │
│ POLAND  ┆ 2002 ┆ 38625976 ┆ Europe    ┆ 74.669998 ┆ 12002.23908 ┆ Low       ┆ -28981     │
│ POLAND  ┆ 2007 ┆ 38518241 ┆ Europe    ┆ 75.563004 ┆ 15389.92468 ┆ Low       ┆ -107735    │
└─────────┴──────┴──────────┴───────────┴───────────┴─────────────┴───────────┴────────────┘

## Łączenie obiektów DataFrame

Łączenie wierszami

In [141]:
first_10 = df.head(10)
last_10 = df.tail(10)

# Połącz je wierszami
combined_df = pl.concat([first_10, last_10])
print(combined_df)

shape: (20, 7)
┌─────────────┬──────┬──────────┬───────────┬───────────┬─────────────┬───────────┐
│ Country     ┆ year ┆ pop      ┆ continent ┆ lifeExp   ┆ GDP_per_cap ┆ pop_range │
│ ---         ┆ ---  ┆ ---      ┆ ---       ┆ ---       ┆ ---         ┆ ---       │
│ str         ┆ i16  ┆ i64      ┆ str       ┆ f32       ┆ f64         ┆ str       │
╞═════════════╪══════╪══════════╪═══════════╪═══════════╪═════════════╪═══════════╡
│ AFGHANISTAN ┆ 1952 ┆ 8425333  ┆ Asia      ┆ 28.801001 ┆ 779.445314  ┆ Low       │
│ AFGHANISTAN ┆ 1957 ┆ 9240934  ┆ Asia      ┆ 30.332001 ┆ 820.85303   ┆ Low       │
│ AFGHANISTAN ┆ 1962 ┆ 10267083 ┆ Asia      ┆ 31.997    ┆ 853.10071   ┆ Low       │
│ AFGHANISTAN ┆ 1967 ┆ 11537966 ┆ Asia      ┆ 34.02     ┆ 836.197138  ┆ Low       │
│ …           ┆ …    ┆ …        ┆ …         ┆ …         ┆ …           ┆ …         │
│ ZIMBABWE    ┆ 1992 ┆ 10704340 ┆ Africa    ┆ 60.376999 ┆ 693.420786  ┆ Low       │
│ ZIMBABWE    ┆ 1997 ┆ 11404948 ┆ Africa    ┆ 46.808998 ┆ 792.44996   ┆ Low       │
│ ZIMBABWE    ┆ 2002 ┆ 11926563 ┆ Africa    ┆ 39.988998 ┆ 672.038623  ┆ Low       │
│ ZIMBABWE    ┆ 2007 ┆ 12311143 ┆ Africa    ┆ 43.487    ┆ 469.709298  ┆ Low       │
└─────────────┴──────┴──────────┴───────────┴───────────┴─────────────┴───────────┘

Łączenie kolumnami

In [142]:
# Pobierz pierwsze 10 wierszy i pierwsze 3 kolumny
df1 = df.head(10).select(df.columns[:3])

# Pobierz pierwsze 10 wierszy i ostatnie 3 kolumny
df2 = df.head(10).select(df.columns[-3:])

# Połącz te dwa DataFrame kolumnami
combined_df = pl.concat([df1, df2], how="horizontal")
print(combined_df)

shape: (10, 6)
┌─────────────┬──────┬──────────┬───────────┬─────────────┬───────────┐
│ Country     ┆ year ┆ pop      ┆ lifeExp   ┆ GDP_per_cap ┆ pop_range │
│ ---         ┆ ---  ┆ ---      ┆ ---       ┆ ---         ┆ ---       │
│ str         ┆ i16  ┆ i64      ┆ f32       ┆ f64         ┆ str       │
╞═════════════╪══════╪══════════╪═══════════╪═════════════╪═══════════╡
│ AFGHANISTAN ┆ 1952 ┆ 8425333  ┆ 28.801001 ┆ 779.445314  ┆ Low       │
│ AFGHANISTAN ┆ 1957 ┆ 9240934  ┆ 30.332001 ┆ 820.85303   ┆ Low       │
│ AFGHANISTAN ┆ 1962 ┆ 10267083 ┆ 31.997    ┆ 853.10071   ┆ Low       │
│ AFGHANISTAN ┆ 1967 ┆ 11537966 ┆ 34.02     ┆ 836.197138  ┆ Low       │
│ …           ┆ …    ┆ …        ┆ …         ┆ …           ┆ …         │
│ AFGHANISTAN ┆ 1982 ┆ 12881816 ┆ 39.854    ┆ 978.011439  ┆ Low       │
│ AFGHANISTAN ┆ 1987 ┆ 13867957 ┆ 40.821999 ┆ 852.395945  ┆ Low       │
│ AFGHANISTAN ┆ 1992 ┆ 16317921 ┆ 41.674    ┆ 649.341395  ┆ Low       │
│ AFGHANISTAN ┆ 1997 ┆ 22227415 ┆ 41.763    ┆ 635.341351  ┆ Low       │
└─────────────┴──────┴──────────┴───────────┴─────────────┴───────────┘

## Merge'owanie obiektów DataFrame

In [143]:
df1 = pl.DataFrame({
    "ID1": range(1, 14, 2),
    "value1": ['A', 'B', 'C', 'D', 'E', 'F', 'G']
})

df2 = pl.DataFrame({
    "ID2": range(1, 8),
    "value2": ['A', 'B', 'C', 'D', 'E', 'F', 'G']
})

print(df1, df2)

shape: (7, 2)
┌─────┬────────┐
│ ID1 ┆ value1 │
│ --- ┆ ---    │
│ i64 ┆ str    │
╞═════╪════════╡
│ 1   ┆ A      │
│ 3   ┆ B      │
│ 5   ┆ C      │
│ 7   ┆ D      │
│ 9   ┆ E      │
│ 11  ┆ F      │
│ 13  ┆ G      │
└─────┴────────┘ shape: (7, 2)
┌─────┬────────┐
│ ID2 ┆ value2 │
│ --- ┆ ---    │
│ i64 ┆ str    │
╞═════╪════════╡
│ 1   ┆ A      │
│ 2   ┆ B      │
│ 3   ┆ C      │
│ 4   ┆ D      │
│ 5   ┆ E      │
│ 6   ┆ F      │
│ 7   ┆ G      │
└─────┴────────┘



Intersekcja zbiorów

In [144]:
df_joined = df1.join(df2, left_on='ID1', right_on='ID2', how='inner')

print(df_joined)

shape: (4, 3)
┌─────┬────────┬────────┐
│ ID1 ┆ value1 ┆ value2 │
│ --- ┆ ---    ┆ ---    │
│ i64 ┆ str    ┆ str    │
╞═════╪════════╪════════╡
│ 1   ┆ A      ┆ A      │
│ 3   ┆ B      ┆ C      │
│ 5   ┆ C      ┆ E      │
│ 7   ┆ D      ┆ G      │
└─────┴────────┴────────┘



Suma zbiorów

In [145]:
df_merged = df1.join(df2, left_on='ID1', right_on='ID2', how='outer')
print(df_merged)

shape: (10, 4)
┌──────┬────────┬──────┬────────┐
│ ID1  ┆ value1 ┆ ID2  ┆ value2 │
│ ---  ┆ ---    ┆ ---  ┆ ---    │
│ i64  ┆ str    ┆ i64  ┆ str    │
╞══════╪════════╪══════╪════════╡
│ 1    ┆ A      ┆ 1    ┆ A      │
│ null ┆ null   ┆ 2    ┆ B      │
│ 3    ┆ B      ┆ 3    ┆ C      │
│ null ┆ null   ┆ 4    ┆ D      │
│ …    ┆ …      ┆ …    ┆ …      │
│ 7    ┆ D      ┆ 7    ┆ G      │
│ 13   ┆ G      ┆ null ┆ null   │
│ 9    ┆ E      ┆ null ┆ null   │
│ 11   ┆ F      ┆ null ┆ null   │
└──────┴────────┴──────┴────────┘



Złączenie lewostronne

In [146]:
# Łączenie DataFrame'ów za pomocą 'left join'
df_merged = df1.join(df2, left_on='ID1', right_on='ID2', how='left')
print(df_merged)

shape: (7, 3)
┌─────┬────────┬────────┐
│ ID1 ┆ value1 ┆ value2 │
│ --- ┆ ---    ┆ ---    │
│ i64 ┆ str    ┆ str    │
╞═════╪════════╪════════╡
│ 1   ┆ A      ┆ A      │
│ 3   ┆ B      ┆ C      │
│ 5   ┆ C      ┆ E      │
│ 7   ┆ D      ┆ G      │
│ 9   ┆ E      ┆ null   │
│ 11  ┆ F      ┆ null   │
│ 13  ┆ G      ┆ null   │
└─────┴────────┴────────┘

Złączenie prawostronne

In [147]:
df_merged = df2.join(df1, left_on='ID2', right_on='ID1', how='left')
print(df_merged)

shape: (7, 3)
┌─────┬────────┬────────┐
│ ID2 ┆ value2 ┆ value1 │
│ --- ┆ ---    ┆ ---    │
│ i64 ┆ str    ┆ str    │
╞═════╪════════╪════════╡
│ 1   ┆ A      ┆ A      │
│ 2   ┆ B      ┆ null   │
│ 3   ┆ C      ┆ B      │
│ 4   ┆ D      ┆ null   │
│ 5   ┆ E      ┆ C      │
│ 6   ┆ F      ┆ null   │
│ 7   ┆ G      ┆ D      │
└─────┴────────┴────────┘

## Zapisz danych z DataFrame do pliku płaskiego

In [148]:
df.write_csv("result.csv", separator="|")